body {
    background: linear-gradient(to bottom, #000000, #201500);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    position:relative;
}

.october-fundal{
    display: block;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    filter: brightness(50%);
    z-index: 1;
    position: relative;
}

.title {
    font-size: 5vw;
    font-weight: bold;
    margin-top: 50px;
    color: #ffffff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 2;
}

.subtitle {
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 10px;
    color: #ffd6ad;
    z-index: 2;
    top:50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.highlight {
    font-weight: bold;
    color: #FFA500;
}

.logo{
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 10;
    width: 6%;
    height: auto;
}

.descriere-eveniment{
    position: relative;
    color:white;
    background-color: #ff950086;
    box-shadow: 0 0 50px #ffcc00;
    border-radius: 20px;
    margin: 0 15%;
    padding: 1%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    height: 100%;
}

.descriere-eveniment p{

    text-align: justify;
    font-size: medium;
}

h4 {
    font-size: 1.2rem;
    margin-top: 20px;
}

form {
    margin-top: 100px;
    
}

.ceva {
    margin: 20px 0;
}

@media (max-width: 767px) {
    .title {
        top: 25%;
        font-size: 5vw;
    }

    .subtitle {
        font-size: 2vw;
        top: 40%;
    }

    .descriere-eveniment{
        margin: 0 5%;
        font-size: smaller;
        top: 75%;
        transform: translateY(-25%);
    }
}